html
    head
        title DeepModerator's Server List
        style.
            body {
                font-family: 'Courier';
            }
            ul {
                list-style-type: none;
            }

            li {
                margin: 5px;
                display: inline-block;
            }

            a.inactive {
                opacity: 0.2;
            }

            a {
                padding: 5px;
                background: #DDDDDD;
                border-radius: 2px;
                display: inline-block;
                color: black;
                text-decoration: none;
            }

            a:hover {
                color: #AAAAAA;
                opacity: 1 !important;
            }

            .login {
                float: right;
            }
    body
        h1 #{count} Servers
        ul
            each val in servers
                li
                    a(href=`/server/${val.serverId}` class=`${val.timeSinceUpdate > (1000 * 60 * 60 * 24 * 14) ? 'inactive' : 'active'}`)= val.serverName
